@using ThriftShop.Client.Areas.Customer.Models.AccountModel;
@model AccountCollection;
@{
    ViewData["Title"] = "Setting";
    Layout = "~/Areas/Customer/Views/Shared/_Layout.cshtml";
}

<!-- Begin Kenne's Breadcrumb Area -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-content">
            <h2>Shop Related</h2>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li class="active">My Account</li>
            </ul>
        </div>
    </div>
</div>
<!-- Kenne's Breadcrumb Area End Here -->
<!-- Begin Kenne's Page Content Area -->
<main class="page-content">
    <div class="account-page-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <ul class="nav myaccount-tab-trigger" id="account-page-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="account-dashboard-tab" data-bs-toggle="tab" href="#account-dashboard" role="tab" aria-controls="account-dashboard" aria-selected="true">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="account-orders-tab" data-bs-toggle="tab" href="#account-orders" role="tab" aria-controls="account-orders" aria-selected="false">Orders</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="account-address-tab" data-bs-toggle="tab" href="#account-address" role="tab" aria-controls="account-address" aria-selected="false">Addresses</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="account-details-tab" data-bs-toggle="tab" href="#account-details" role="tab" aria-controls="account-details" aria-selected="false">Account Details</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="account-logout-tab" asp-action="LogOut" asp-controller="Account" role="tab" aria-selected="false">Logout</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-9">
                    <div class="tab-content myaccount-tab-content" id="account-page-tab-content">
                        <div class="tab-pane fade show active" id="account-dashboard" role="tabpanel" aria-labelledby="account-dashboard-tab">
                            <div class="myaccount-dashboard">
                                <p>Welcome <b>@User.Identity.Name</b>
                                <p>
                                    From your account dashboard you can view your recent orders, manage your shipping and
                                    billing addresses and <a href="javascript:void(0)">
                                        edit your password and account
                                        details
                                    </a>.
                                </p>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="account-orders" role="tabpanel" aria-labelledby="account-orders-tab">
                            <div class="myaccount-orders">
                                <h4 class="small-title">MY ORDERS</h4>
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover">
                                        <tbody>
                                            <tr>
                                                <th>ORDER</th>
                                                <th>DATE</th>
                                                <th>STATUS</th>
                                                <th>TOTAL</th>
                                                <th></th>
                                            </tr>
                                            <tr>
                                                <td><a class="account-order-id" href="javascript:void(0)">#5364</a></td>
                                                <td>Mar 27, 2019</td>
                                                <td>On Hold</td>
                                                <td>£162.00 for 2 items</td>
                                                <td>
                                                    <a href="javascript:void(0)" class="kenne-btn kenne-btn_sm"><span>View</span></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><a class="account-order-id" href="javascript:void(0)">#5356</a></td>
                                                <td>Mar 27, 2019</td>
                                                <td>On Hold</td>
                                                <td>£162.00 for 2 items</td>
                                                <td>
                                                    <a href="javascript:void(0)" class="kenne-btn kenne-btn_sm"><span>View</span></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="account-address" role="tabpanel" aria-labelledby="account-address-tab">
                            <div class="myaccount-address">
                                <div class="row">
                                    <div class="col">
                                        <h4 class="small-title">Adress</h4>
                                        <address>
                                            @Model.UserInfo.Address
                                        </address>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="account-details" role="tabpanel" aria-labelledby="account-details-tab">
                            <div class="myaccount-details">
                                <form asp-action="Setting" asp-controller="Account" class="kenne-form">
                                    <input asp-for="UserInfo.UserId" hidden />
                                    <input asp-for="UserAccount.AccountID" hidden />
                                    <div class="kenne-form-inner">
                                        <div class="single-input single-input-half">
                                            <label for="account-details-firstname">Full Name</label>
                                            <input type="text" asp-for="UserInfo.Name" value="@Model.UserInfo.Name" id="account-details-firstname">
                                            <span asp-validation-for="UserInfo.Name"></span>
                                        </div>
                                        <div class="single-input single-input-half">
                                            <label for="account-details-firstname">Phone</label>
                                            <select asp-for="UserInfo.Gender">
                                                <option value="">Male</option>
                                                <option value="">Female</option>
                                            </select>
                                            <span asp-validation-for="UserInfo.Phone"></span>
                                        </div>
                                        <div class="single-input single-input-half">
                                            <label for="account-details-firstname">Phone</label>
                                            <input type="text" asp-for="UserInfo.Phone" value="@Model.UserInfo.Phone" id="account-details-firstname">
                                            <span asp-validation-for="UserInfo.Phone"></span>
                                        </div>
                                        <div class="single-input single-input-half">
                                            <label for="account-details-firstname">Address</label>
                                            <input type="text" asp-for="UserInfo.Address" value="@Model.UserInfo.Address" id="account-details-firstname">
                                            <span asp-validation-for="UserInfo.Address"></span>
                                        </div>
                                        <div class="single-input single-input-half">
                                            <label for="account-details-firstname">City</label>
                                            <input type="text" asp-for="UserInfo.City" value="@Model.UserInfo.City" id="account-details-firstname">
                                            <span asp-validation-for="UserInfo.City"></span>
                                        </div>
                                        <div class="single-input single-input-half">
                                            <label for="account-details-firstname">State</label>
                                            <input type="text" asp-for="UserInfo.State" value="@Model.UserInfo.State" id="account-details-firstname">
                                            <span asp-validation-for="UserInfo.State"></span>
                                        </div>
                                        <div class="single-input single-input-half">
                                            <label for="account-details-firstname">ZipCode</label>
                                            <input type="text" asp-for="UserInfo.PostalCode" value="@Model.UserInfo.PostalCode" id="account-details-firstname">
                                            <span asp-validation-for="UserInfo.PostalCode"></span>
                                        </div>
                                        <div class="single-input">
                                            <label for="account-details-email">Email</label>
                                            <input type="email" asp-for="UserInfo.Email" id="account-details-email">
                                            <span asp-validation-for="UserInfo.Email"></span>
                                        </div>
                                        <div class="single-input">
                                            <label for="account-details-oldpass">
                                                Current Password(leave blank to leave
                                                unchanged)
                                            </label>
                                            <input type="password" asp-for="UserAccount.Password" id="account-details-oldpass">
                                        </div>
                                        <div class="single-input">
                                            <label for="account-details-newpass">
                                                New Password (leave blank to leave
                                                unchanged)
                                            </label>
                                            <input type="password" id="account-details-newpass">
                                        </div>
                                        <div class="single-input">
                                            <label for="account-details-confpass">Confirm New Password</label>
                                            <input type="password" asp-for="UserAccount.ConfirmPass" id="account-details-confpass">
                                            <span asp-validation-for="UserAccount.ConfirmPass"></span>
                                        </div>
                                        <div class="single-input">
                                            <button class="kenne-btn kenne-btn_dark" type="submit">
                                                <span>
                                                    SAVE
                                                    CHANGES
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Kenne's Account Page Area End Here -->
</main>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }