@using ThriftShop.Models
@model Coupon
@{
    ViewData["Title"] = "Create Coupon";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="d-flex flex-column justify-content-center">
                <h1 class="text-center">Create new product</h1>
                <form method="post">
                    <div class="row">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="mb-3 col-12">
                            <ejs-textbox id="code" ejs-for="@Model.Code" placeholder="Code" floatLabelType="Always"></ejs-textbox>
                            <span asp-validation-for="@Model.Code"></span>
                        </div>
                        <div class="mb-3 col-12">
                            <ejs-textbox id="type" ejs-for="@Model.CouponType" placeholder="Type" floatLabelType="Always"></ejs-textbox>
                            <span asp-validation-for="@Model.CouponType"></span>
                        </div>
                        <div class="mb-3 col-12">
                            <ejs-textbox id="value" ejs-for="@Model.DiscountValue" placeholder="Discount Value" floatLabelType="Always"></ejs-textbox>
                            <span asp-validation-for="@Model.DiscountValue"></span>
                        </div>
						<div class="mb-3 col-12">
                            <div id="wrapper" class="datepicker-section">
                                <div id="datepicker-control">
                                    <ejs-datepicker id="datepicker" ejs-for="@Model.CreatedDate" placeholder="Choose a Date"></ejs-datepicker>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3 col-12">
                            <ejs-numerictextbox placeholder="Quantity" floatLabelType="Always" ejs-for="@Model.Quantity" id="quantity" value="10" min="0" Type="number"></ejs-numerictextbox>
							<span asp-validation-for="@Model.Quantity"></span>
                        </div>
                        <div class="mb-3 col-12">
                            <ejs-button id="submit" type="submit" cssClass="e-primary" content="Submit"></ejs-button>
                        </div>
                        
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'a11ychecker advcode casechange export formatpainter image editimage linkchecker autolink lists checklist media mediaembed pageembed permanentpen powerpaste table advtable tableofcontents tinycomments tinymcespellchecker',
            toolbar_mode: 'floating',
        });
    </script>
}

