@using ThriftShop.Models
@model IEnumerable<ShoppingCart>
@{
    ViewData["Title"] = "Cart";
    Layout = "~/Areas/Customer/Views/Shared/_Layout.cshtml";
}

<!-- Begin Kenne's Breadcrumb Area -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-content">
            <h2>Shop Related</h2>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li class="active">Cart</li>
            </ul>
        </div>
    </div>
</div>
<!-- Kenne's Breadcrumb Area End Here -->
<!-- Begin Uren's Cart Area -->
<div class="kenne-cart-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form action="javascript:void(0)">
                    <div class="table-content table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="kenne-product-thumbnail">images</th>
                                    <th class="cart-product-name">Product</th>
                                    <th class="kenne-product-price">Unit Price</th>
                                    <th class="kenne-product-price">Size</th>
                                    <th class="kenne-product-price">Color</th>
                                    <th class="kenne-product-quantity">Quantity</th>
                                    <th class="kenne-product-subtotal">Total</th>
                                    <th class="kenne-product-remove">remove</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var itemCart in Model)
                                {
                                    <tr>
                                        <td class="kenne-product-thumbnail"><a href="javascript:void(0)"><img src="~/assets///images/product/small-size/1.jpg" alt="Uren's Cart Thumbnail"></a></td>
                                        <td class="kenne-product-name"><a href="javascript:void(0)">@itemCart.Product.Title</a></td>
                                        <td class="kenne-product-price"><span class="amount">@itemCart.Product.Price</span></td>
                                        <td class="kenne-product-price"><span class="amount">@itemCart.Size</span></td>
                                        <td class="kenne-product-price"><span class="amount">@itemCart.Color</span></td>
                                        <td class="quantity">
                                            <label>Quantity</label>
                                            <div class="cart-plus-minus">
                                                <input class="cart-plus-minus-box" value="@itemCart.Count" type="text">
                                                <div class="dec qtybutton"><i class="fa fa-angle-down"></i></div>
                                                <div class="inc qtybutton"><i class="fa fa-angle-up"></i></div>
                                            </div>
                                        </td>
                                        <td class="kenne-product-price"><span class="amount">@itemCart.Count</span></td>
                                        <td class="product-subtotal"><span class="amount">@itemCart.Amount</span></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="coupon-all">
                                <div class="coupon">
                                    <input id="coupon_code" class="input-text" name="coupon_code" value="" placeholder="Coupon code" type="text">
                                    <input class="button" name="apply_coupon" value="Apply coupon" type="submit">
                                </div>
                                <div class="coupon2">
                                    <input class="button" name="update_cart" value="Update cart" type="submit">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 ml-auto">
                            <div class="cart-page-total">
                                <h2>Cart totals</h2>
                                <ul>
                                    <li>Subtotal <span>$118.60</span></li>
                                    <li>Total <span>$118.60</span></li>
                                </ul>
                                <a href="javascript:void(0)">Proceed to checkout</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Uren's Cart Area End Here -->
